<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>background_main_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-28}</string>
                <key>spriteSize</key>
                <string>{1920,1024}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1024}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{1642,1801},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,371}</string>
                <key>spriteSourceSize</key>
                <string>{540,371}</string>
                <key>textureRect</key>
                <string>{{685,1437},{540,371}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{682,540}</string>
                <key>spriteSourceSize</key>
                <string>{682,540}</string>
                <key>textureRect</key>
                <string>{{1,1437},{682,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1719,1437},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>foreground_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{1920,192}</string>
                <key>spriteSourceSize</key>
                <string>{1920,216}</string>
                <key>textureRect</key>
                <string>{{1,1243},{1920,192}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>foreground_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{1920,214}</string>
                <key>spriteSourceSize</key>
                <string>{1920,216}</string>
                <key>textureRect</key>
                <string>{{1,1027},{1920,214}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,400}</string>
                <key>spriteSourceSize</key>
                <string>{219,400}</string>
                <key>textureRect</key>
                <string>{{1058,1739},{219,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>go.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1719,1619},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,180}</string>
                <key>spriteSourceSize</key>
                <string>{180,180}</string>
                <key>textureRect</key>
                <string>{{1460,1739},{180,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{659,300}</string>
                <key>spriteSourceSize</key>
                <string>{659,300}</string>
                <key>textureRect</key>
                <string>{{1058,1437},{659,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pics-1.png</string>
            <key>size</key>
            <string>{1922,1978}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:181c44af160c0471e943268904c7dc03:3fd5e8418af3c8a488eb66de8069666b:22af9fbac0056c3ea4df4d09a0341a72$</string>
            <key>textureFileName</key>
            <string>pics-1.png</string>
        </dict>
    </dict>
</plist>
