<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{455,360}</string>
                <key>spriteSourceSize</key>
                <string>{455,360}</string>
                <key>textureRect</key>
                <string>{{1283,1},{455,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>foreground_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{1280,128}</string>
                <key>spriteSourceSize</key>
                <string>{1280,144}</string>
                <key>textureRect</key>
                <string>{{1,147},{1280,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>foreground_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,144}</string>
                <key>spriteSourceSize</key>
                <string>{1280,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1,277},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,200}</string>
                <key>spriteSourceSize</key>
                <string>{439,200}</string>
                <key>textureRect</key>
                <string>{{1740,1},{439,200}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pics-1.png</string>
            <key>size</key>
            <string>{1941,441}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13b7e45439d1cc3580852dbe761150f1:4a4fdd2af08fd9df19d36dad8961fdea:bd2b05b80614d6e1684a1393c6c6efee$</string>
            <key>textureFileName</key>
            <string>pics-1.png</string>
        </dict>
    </dict>
</plist>
