<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,76}</string>
                <key>spriteSourceSize</key>
                <string>{70,76}</string>
                <key>textureRect</key>
                <string>{{1977,1934},{70,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background_main_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-18}</string>
                <key>spriteSize</key>
                <string>{1280,684}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,723},{1280,684}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background_main_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-51}</string>
                <key>spriteSize</key>
                <string>{1280,618}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1409},{1280,618}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,80}</string>
                <key>spriteSourceSize</key>
                <string>{190,80}</string>
                <key>textureRect</key>
                <string>{{1793,1730},{190,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1793,1934},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,247}</string>
                <key>spriteSourceSize</key>
                <string>{360,247}</string>
                <key>textureRect</key>
                <string>{{1431,1730},{360,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1793,1812},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{146,267}</string>
                <key>spriteSourceSize</key>
                <string>{146,267}</string>
                <key>textureRect</key>
                <string>{{1283,1730},{146,267}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>go.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{120,120}</string>
                <key>textureRect</key>
                <string>{{1915,1812},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1280,720}</string>
                <key>spriteSourceSize</key>
                <string>{1280,720}</string>
                <key>textureRect</key>
                <string>{{1,1},{1280,720}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{955,720}</string>
                <key>spriteSourceSize</key>
                <string>{955,720}</string>
                <key>textureRect</key>
                <string>{{1283,1},{955,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{770,720}</string>
                <key>spriteSourceSize</key>
                <string>{770,720}</string>
                <key>textureRect</key>
                <string>{{1283,958},{770,720}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1895,1934},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pics-0.png</string>
            <key>size</key>
            <string>{2048,2035}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:13b7e45439d1cc3580852dbe761150f1:4a4fdd2af08fd9df19d36dad8961fdea:bd2b05b80614d6e1684a1393c6c6efee$</string>
            <key>textureFileName</key>
            <string>pics-0.png</string>
        </dict>
    </dict>
</plist>
