<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>apple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,46}</string>
                <key>spriteSourceSize</key>
                <string>{42,46}</string>
                <key>textureRect</key>
                <string>{{1512,1226},{42,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background_main_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{800,456}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,803},{800,456}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>background_main_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-33}</string>
                <key>spriteSize</key>
                <string>{800,414}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{483,1},{800,414}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,53}</string>
                <key>spriteSourceSize</key>
                <string>{126,53}</string>
                <key>textureRect</key>
                <string>{{1402,1144},{126,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{1276,647},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cloud.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,165}</string>
                <key>spriteSourceSize</key>
                <string>{240,165}</string>
                <key>textureRect</key>
                <string>{{1402,803},{240,165}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dialog.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{303,240}</string>
                <key>spriteSourceSize</key>
                <string>{303,240}</string>
                <key>textureRect</key>
                <string>{{899,483},{303,240}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1457,1144},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>foreground_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-5}</string>
                <key>spriteSize</key>
                <string>{800,86}</string>
                <key>spriteSourceSize</key>
                <string>{800,96}</string>
                <key>textureRect</key>
                <string>{{1500,1},{800,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>foreground_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,96}</string>
                <key>spriteSourceSize</key>
                <string>{800,96}</string>
                <key>textureRect</key>
                <string>{{1402,1},{800,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>girl.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,178}</string>
                <key>spriteSourceSize</key>
                <string>{97,178}</string>
                <key>textureRect</key>
                <string>{{1402,1045},{97,178}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>go.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1276,483},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ru.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,80}</string>
                <key>spriteSourceSize</key>
                <string>{80,80}</string>
                <key>textureRect</key>
                <string>{{1276,565},{80,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>theme.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{800,480}</string>
                <key>spriteSourceSize</key>
                <string>{800,480}</string>
                <key>textureRect</key>
                <string>{{1,1},{800,480}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tree_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{597,480}</string>
                <key>spriteSourceSize</key>
                <string>{597,480}</string>
                <key>textureRect</key>
                <string>{{803,803},{597,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tree_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{481,480}</string>
                <key>spriteSourceSize</key>
                <string>{481,480}</string>
                <key>textureRect</key>
                <string>{{899,1},{481,480}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>truck.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{292,133}</string>
                <key>spriteSourceSize</key>
                <string>{292,133}</string>
                <key>textureRect</key>
                <string>{{1141,483},{292,133}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wheel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,53}</string>
                <key>spriteSourceSize</key>
                <string>{53,53}</string>
                <key>textureRect</key>
                <string>{{1457,1226},{53,53}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pics-0.png</string>
            <key>size</key>
            <string>{1587,1284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:88781bfcc3979e928b785fd41f72d6ff:249d7710634f7e1de5e95d385fb0de97:c5d5764127d97c196003cf316ede8a78$</string>
            <key>textureFileName</key>
            <string>pics-0.png</string>
        </dict>
    </dict>
</plist>
